/* GENERAL LAYOUT */

.inside {
    overflow: hidden;
    margin: 1rem;
}
.outside{
    display: flex;
    justify-content: center;
}

body {
    background-color: #03001C;
    margin: 0;
}

/* GLOBAL TEXT STYLES */

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-family: 'Inter';
    font-weight: 400;
    color: #737374;
    margin: 0;
}

.bold {
    font-weight: 600;
}

/* SECTIONS */

.landing {
    text-align: center;
    padding: 7rem 2rem 7rem 2rem;
}

.container {
    column-count: auto;
    column-width: 18.75rem; /* 300px + 20px gap */
    column-gap: 1rem;
    padding: 0;
}

.subcontainer {
    margin-top: 0;
    margin-bottom: 0.5rem;
    position: relative;
}

.pre {
    background-color: rgba(0,0,0,0);
    border: solid 0.15rem #4717F6;
    color: #FFFFFF;
    border-radius: 10rem;
    font-family: 'Inter';
    font-size: 0.75rem;
    font-weight: 1000;
    padding: 0.2rem;
    width: 12rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.type{
    margin-bottom: 2rem;
}

.disclaimer{
    width: 100%;
    padding: 0.2rem 0 0.2rem 0;
    margin: 0;
    z-index: 1;
    background-color: #F6BE17;
    text-align: center;
    font-family: 'Inter';
    font-size: 0.8rem;
    font-weight: 600;
    color: #0E0B16;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}