/* GENERAL LAYOUT */

.inside {
    overflow: hidden;
    width: 68.75rem;
    margin: 1rem;
}
.outside{
    display: flex;
    justify-content: center;
}

body {
    background-color: #03001C;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* SECTIONS */

/* DISCLAIMER */

.disclaimer{
    width: 100%;
    padding: 0.2rem 0 0.2rem 0;
    margin: 0;
    z-index: 1;
    background-color: #F6BE17;
    text-align: center;
    font-family: 'Inter';
    font-size: 0.8rem;
    font-weight: 600;
    color: #0E0B16;
}

/* HERO (LANDING) SECTION */
.hero {
    text-align: center;
    padding: 7rem 2rem 7rem 2rem;
}

.titletag {
    background-color: rgba(0,0,0,0);
    border: solid 0.15rem #4717F6;
    color: #FFFFFF;
    border-radius: 10rem;
    font-family: 'Inter';
    font-size: 0.75rem;
    font-weight: 1000;
    padding: 0.2rem;
    width: 12rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.title{
    margin-bottom: 2rem;
}

/* COMMUNITIES (SERVERS) SECTION */

.communities {
    margin-top: 0;
    margin-bottom: 0.5rem;
    position: relative;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.servers {
    column-count: auto;
    column-width: 18.75rem;
    column-gap: 1rem;
    padding: 0;
}